# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# Environment
.env

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# Node
frontend/node_modules/
frontend/dist/
npm-debug.log*

# OS files
.DS_Store
Thumbs.db